{{define "head"}}
{{end}}


{{define "content"}}
<div class="flex justify-center items-center w-screen my-12">
	<div
		class="border border-pink-500 rounded-xl grid grid-cols-2 w-4/5 px-16 py-12 gap-16 shadow-xl justify-center items-center">
		<img class="block w-[475px] h-[300px]" src="https://source.unsplash.com/800x800?motherboard" alt="product-image">
		<div class="flex flex-col">
			<h1 class="text-4xl text-pink-500 font-bold">Product Name</h1>
			<p class="font-bold text-secondary-700 text-2xl my-4">Rp 80.000</p>

			<p class="text-secondary-700 font-bold text-lg my-8">Stock : 25</p>

			<p class="text-2xl font-bold text-pink-400">Computer Parts</p>

			<p class="text-gray-800 my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tenetur corporis
				a nemo quisquam numquam
				nulla beatae, quia fugiat neque veritatis sint corrupti vitae exercitationem veniam eveniet voluptatibus amet
				ex!
			</p>

			<p class="font-bold text-black">1.5 Kg</p>
		</div>
	</div>


</div>
{{end}}