<ul class="w-full grid grid-cols-4 gap-8 mx-auto py-24 px-4 justify-center items-center">
	<li class="hover:scale-105 transition duration-500">
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?motherboard" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
	<li>
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?computer" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
	<li>
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?cpu" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
	<li>
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?ram-stick" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
	<li>
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?joy-stick" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
	<li>
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?video-games" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
	<li>
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?ethernet-cable" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
	<li>
		<div class="shadow-card flex flex-col rounded-xl bg-white bg-clip-border">
			<div class="mx-4 -mt-6 translate-y-0">
				<a href="#" blur-shadow-image="true">
					<img class="w-auto rounded-lg" src="https://source.unsplash.com/1000x600?computer-mouse" alt="card image" />
				</a>
			</div>
			<div class="text-secondary flex-1 p-6">
				<a href="#">
					<h4 class="font-bold text-pink-500">Material Tailwind</h4>
				</a>
				<p class="opcacity-60 mb-3">
					The time is now for it to be okay to be great. For standing out.
				</p>
				<button
					class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					data-ripple-light="true">
					Button
				</button>
			</div>
		</div>
	</li>
</ul>